# Maven Child target directory #
################################
/target/

# IDE settings and metadata #
#############################
.classpath
.project
/.settings/

# Compiled Java files #
#######################
*.class

# Test files #
##############
/src/main/resources/